
.mainPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#backBtn {
    cursor: pointer;
    position: absolute;
    top: 120px;
    left: 50px;
}

#backBtn img {
    width: 50px;
    height: 50px;
}

.gamePlayground{
    display: flex;
    justify-content: center;
}

.currentPlayer {
    height: 10vw;
    height: 25%;
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 5vw;
    animation: playerName 15s ease infinite;
}

.gameResult {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

.winnerInfo {
    display: flex;
    align-items: center;
}

.winnerSide {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 5vw;
}

.currentPlayerName{
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentPlayerSide {
    display: flex;
    align-items: center;
    font-size: 7vw;
    margin-left: 20px;
}

.tttContainer{
    position: relative;
    display: grid;
    grid-template-columns: 7vw 7vw 7vw 7vw 7vw;
    grid-template-rows: 7vw 7vw 7vw 7vw 7vw;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    justify-items: stretch;
    align-items: stretch;
    gap: 5px;
    top: 1vw;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}

.front {
    position: relative;
    width: 100%;
    height: 100%;
    background-color:black;
    transform-style: preserve-3d;
    transition: z-index 2s linear 2s, transform 2s;
}

.front:hover {
    background-color: rgb(71, 58, 58);
}

.back {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg) translateZ(1px);
}

.instruction {
    position: relative;
    display: flex;
    top: 30px;
    font-size: 3vw;
    animation: playerName 15s ease infinite;
}

.instruction div {
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes playerName {
    from {
      color: #ee7752;
    }
    33% {
      color: #e73c7e;
    }
    66% {
      color: #23a6d5;
    }
    100% {
      color: #23d5ab;
    }
  }
