#invite-list {

    width: 350px;
    max-height: 500px;
    margin-top: 2rem;

    background: linear-gradient(#423840, #66706b);
    border: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .match-exit-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.5s;
  }
  
  .match-exit-button:hover {
    opacity: 1;
  }
  
  .match-exit-button p {
    color: gray;
    padding-right: 1px;
    padding-bottom: 7px;
  }
  