#alert-box {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

#alert-box:before {
  content: "";
  background-image: url("https://imageio.forbes.com/specials-images/imageserve/944784934/Data-transfer-and-future-technology--cyber-security-concept-background--abstract-hi/960x0.jpg?format=jpg&width=960");
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.5;
}

#alert-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 450px;
  opacity: 1;
  clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
  color: rgb(158, 10, 42);
  background-color: red;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  opacity: 0.8;
  word-wrap: break-word;
}

#notice-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 450px;
  opacity: 1;
  clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
  color: rgb(228, 236, 152);
  background-color: green;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  opacity: 0.8;
  word-wrap: break-word;
}