#match-list {
    width: 400px;
    max-height: 500px;
    background: linear-gradient(#423840, #66706b);
    border: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    z-index: 100;
    overflow-y: auto;

  }
  
  .list-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
  }
  
  .list-header > p{
    margin: 0;
    width: 100%;
    text-align: center;
  }
  
