.my-message {
  display: flex;
  flex-direction: row;
}

.message-info {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.message-sender {
  font-size: 12px;
}

.message-time {
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(231, 181, 181);
}

.message {
  width: 200px;
  min-height: 50px;
  background: linear-gradient(#99688f, #3a4741);
  border-radius: 10px;
}

.message p{
  margin: 0;
  margin-left: 5px;
  word-wrap: break-word;
}


