.chat {
  display: flex;
}

.chat-members {
  display: flex;
  overflow-x: auto;
}

.chat-member-name {
  display: flex;
  align-items: center;
}

.chat-member-name p {
  position: relative;
  left: 20px;
  padding: 0;
  margin: 0;
}