@font-face {
  font-family: Pixel;
  src: url(./fonts/pixel_[allfont.net].ttf);
}

body{
  background: black;
  color: white;
}

#header-placeholder {
  height: 100px;
  background-color: black;
}

#intro {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100;
  z-index: 500;
  opacity: 1;
  transition: opacity 3s;
}




